.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
body{
    background-color: #DEDEDE;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #000000;
}
h1{
    font-family:Monaco; 
    font-size: 80px;
    text-shadow: 2px 2px 5px rgb(2, 23, 156);
}


.title_section{
    background-color: #ceeff9;
    text-align: center;
}

.title_image{
    border: 5px solid white;
    border-radius: 10px;
    border-style: groove;
}
.img_circle{
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  object-fit: cover;   
  border-radius: 50%;
}


.rules_section{
    background-color: #DEDEDE;
    text-align: center;
}
footer{
    background-color: #DEDEDE;
    text-align: center;
}



.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box {
  /*background-color: rgb(255, 255, 255);*/
  padding: 100px;
  margin: 100px;
  border: 1px solid #5cdcff;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}


a:hover{
    color: rgb(11, 11, 193)
}
.return-link{
    font-size: 20px;
    text-align: center;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: right;
  text-align: right;
  justify-content: right;
}

ul li a {
  display: block;
  color: white;
  align-items: right;
  text-align: right;
  justify-content: right;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
  color: #ceeff9; 
}

#home_link {
  font-size: 20px;
  margin-right: auto;
}




/* Style For Bootstrap Using Template From W3schools (Some was added to tags that already were in my style sheet)*/

p {font-size: 16px;}
  .margin {margin-bottom: 45px;}


  .bg-1 { 
    background-color: #ceeff9; 
    color: #000000;
  }

  .bg-2 { 
    background-color: #DEDEDE;
    color: #000000;
  }

  .bg-3 { 
    background-color: #ceeff9; 
    color: #000000;
  }

  .bg-4 { 
    background-color: #DEDEDE; 
    color: #000000;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  
 .navbar {
  background-color: #010192 !important; /* deep blue */
  border: 0;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
}

.navbar-brand, 
.navbar-nav li a {
  color: #ffffff !important;
}

.navbar-nav li a:hover, 
.navbar-nav li.active a {
  background-color: #aaddff !important;
  color: #000 !important;
}

.dropdown-menu > li > a {
  color: #010192 !important;
}

.dropdown-menu > li > a:hover {
  background-color: #aaddff !important;
  color: #000 !important;
}

.navbar-toggle {
  border: 1px solid #fff;
  background-color: #010192;
}

.navbar-toggle .icon-bar {
  background-color: #dbdada;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: blue;
  }
  .carousel-indicators li {
    border-color: blue;
  }
  .carousel-indicators li.active {
    background-color: blue;
  }



/* Mobile view */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  h1{
    font-size: 30px; /* smaller header */
    text-shadow: 1px 1px 3px rgb(2, 23, 156);
  }

  .title_section {
    padding: 10px;
  }

  .title_image{
    margin: 0 auto;
    display: block;
    border-width: 3px;

  }

    .flex-container {
        flex-direction: column; 
        align-content: center;
        display: flex;
        justify-content: center;
    }

    .box {
        margin: 20px;
        padding: 20px;
        width: 120px; 
    }
}