body{
    background-color: #DEDEDE;
}
h1{
    font-family:Monaco; 
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(2, 23, 156);
}


.title_section{
    background-color: #ceeff9;
    text-align: center;
}    
.title_image{
    border: 5px solid white;
    border-radius: 10px;
    border-style: groove;
}


.rules_section{
    background-color: #DEDEDE;
    text-align: center;
}
footer{
    background-color: #ceeff9;
    text-align: center;
}



.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box {
  background-color: rgb(255, 255, 255);
  padding: 100px;
  margin: 100px;
  border: 1px solid #5cdcff;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}


a:hover{
    color: rgb(18, 18, 246)
}
.return-link{
    font-size: 20px;
    text-align: center;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  align-items: right;
  text-align: right;
  justify-content: right;
}

ul li a {
  display: block;
  color: white;
  align-items: right;
  text-align: right;
  justify-content: right;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
  color: #ceeff9; 
}

#home_link {
  font-size: 20px;
  margin-right: auto;
}


@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  h1{
    font-size: 30px; /* smaller header */
    text-shadow: 1px 1px 3px rgb(2, 23, 156);
  }

  .title_section {
    padding: 10px;
  }

  .title_image{
    margin: 0 auto;
    display: block;
    border-width: 3px;
  }

    .flex-container {
        flex-direction: column; 
    }

    .box {
        margin: 20px;
        padding: 20px;
        width: 120px; 
    }
}